@import "tailwindcss";


html, body {
  background-color: black; /* Ensures the entire viewport is black */
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
    /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}

/* Keyframes for expanding height */
@keyframes expandHeight {
  from {
    height: 10vh;
  }
  to {
    height: 80vh;
  }
}

/* Keyframes for collapsing height */
@keyframes collapseHeight {
  from {
    height: 80vh;
  }
  to {
    height: 10vh;
  }
}

/* Applying the animation */
.expand {
  height: 80vh;
  animation: expandHeight 0.5s ease-in-out forwards;
}

.collapse {
  height: 10vh;
  animation: collapseHeight 0.5s ease-in-out forwards;
}

